{% load static %}



<!-- { if true=="true" } -->
<!-- <header class="fixed top-0 w-full z-50">
  <div>
    <div
      class="w-full flex item-center justify-between px-5 md:px-20 py-4 bg-[#FFC017] border-b-2 border-black"
    >
      <div>
        <a href="{% url 'blog:home' %}">
          <img
            src="{% static 'images/logo_medium_edit.png' %}"
            class="w-28 md:w-full"
            alt=""
          />
        </a>
      </div>

      <div class="items-center space-x-5 flex text-[14px]">
        <div class="hidden space-x-5 md:inline-flex">
          <h3>Our story</h3>
          <h3>Membership</h3>
          <h3>Write</h3>
          <h3
            data-modal-target="defaultModal_Sign_in"
            data-modal-toggle="defaultModal_Sign_in"
            class="cursor-pointer"
          >
            Sign In
          </h3>
        </div>
        <div class="md:hidden xs:flex hidden">Sign In</div>
        <button
          data-modal-target="defaultModal"
          data-modal-toggle="defaultModal"
        >
          <div class="rounded-full bg-black px-4 py-2 inline-flex">
            <h3 class="text-md text-white text-[14px]">Get started</h3>
          </div>
        </button>
      </div>
    </div>
  </div>
</header> -->
<!-- { elif } -->
<header class="fixed top-0 w-full z-50">
  <div>
    <div
      class="w-full flex item-center justify-between px-5 md:px-20 py-4 bg-white border-b-2 border-black"
    >
      <div class="flex item-center justify-center space-x-2">
        <a href="{% url 'blog:home' %}">
          <img
            src="{% static 'images/logo_medium_edit_2.png' %}"
            class="w-28 md:w-full"
            alt=""
          />
        </a>
        <div class="flex items-center space-x-2 bg-gray-100 rounded-full px-4 py-2">
          <img src="{% static 'images/search_2.png' %}"  class="h-4 w-4"/>
          <input placeholder="search" class="outline-none bg-gray-100"  />
        </div>
  
      </div>
      
      <div class="items-center space-x-5 flex text-[14px]">
        
        <div class="flex items-center space-x-2 text-gray-500">
          <div>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" aria-label="Write"><path d="M14 4a.5.5 0 0 0 0-1v1zm7 6a.5.5 0 0 0-1 0h1zm-7-7H4v1h10V3zM3 4v16h1V4H3zm1 17h16v-1H4v1zm17-1V10h-1v10h1zm-1 1a1 1 0 0 0 1-1h-1v1zM3 20a1 1 0 0 0 1 1v-1H3zM4 3a1 1 0 0 0-1 1h1V3z" fill="currentColor"></path><path d="M17.5 4.5l-8.46 8.46a.25.25 0 0 0-.06.1l-.82 2.47c-.07.2.12.38.31.31l2.47-.82a.25.25 0 0 0 .1-.06L19.5 6.5m-2-2l2.32-2.32c.1-.1.26-.1.36 0l1.64 1.64c.1.1.1.26 0 .36L19.5 6.5m-2-2l2 2" stroke="currentColor"></path></svg>
          </div>
          <p>Write</p>
        </div>
       <div>
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" aria-label="Notifications"><path d="M15 18.5a3 3 0 1 1-6 0" stroke="currentColor" stroke-linecap="round"></path><path d="M5.5 10.53V9a6.5 6.5 0 0 1 13 0v1.53c0 1.42.56 2.78 1.57 3.79l.03.03c.26.26.4.6.4.97v2.93c0 .14-.11.25-.25.25H3.75a.25.25 0 0 1-.25-.25v-2.93c0-.37.14-.71.4-.97l.03-.03c1-1 1.57-2.37 1.57-3.79z" stroke="currentColor" stroke-linejoin="round"></path></svg>
       </div>
        <div class="rounded-full p-2  bg-black">
          <p class="text-white">NB</p>
        </div>
    
      </div>
    </div>
  </div>
</header>

<!-- { endif ] -->


