{% extends 'base.html' %} {% load static %} {% block content %}

<div class="bg-[#FFC017] px-6 md:px-10">
  <div class="flex items-center py-20">
    <div>
      <h1 class="text-[70px] md:text-[85px] lg:text-[106px] font-serif">
        Stay curious.
      </h1>
      <h2 class="text-[24px] font-[500px] max-w-md mt-2">
        Discover stories, thinking, and expertise from writers on any topic.
      </h2>
      <div
        class="rounded-full bg-[#191919] hover:bg-black px-12 py-2 inline-flex items-center justify-center mt-2"
      >
        <h3 class="text-md text-white text-[20px]">Start reading</h3>
      </div>
    </div>

    <div class="hidden md:inline-flex">{% include '_partials/svg.html' %}</div>
  </div>
</div>
{# --------------------------trending section ------------------------------ #}
<div class="mt-8 pb-4">
  <div>
    <div class="flex items-center justify-items-center px-10">
      <div>
        <svg
          width="28"
          height="29"
          viewBox="0 0 28 29"
          fill="none"
          class="ji ah"
        >
          <path fill="#fff" d="M0 .8h28v28H0z"></path>
          <g opacity="0.8" clip-path="url(#trending_svg__clip0)">
            <path fill="#fff" d="M4 4.8h20v20H4z"></path>
            <circle cx="14" cy="14.79" r="9.5" stroke="#000"></circle>
            <path
              d="M5.46 18.36l4.47-4.48M9.97 13.87l3.67 3.66M13.67 17.53l5.1-5.09M16.62 11.6h3M19.62 11.6v3"
              stroke="#000"
              stroke-linecap="round"
            ></path>
          </g>
          <defs>
            <clipPath id="trending_svg__clip0">
              <path
                fill="#fff"
                transform="translate(4 4.8)"
                d="M0 0h20v20H0z"
              ></path>
            </clipPath>
          </defs>
        </svg>
      </div>
      <h1 class="text-black font-bold">Trending on Medium</h1>
    </div>

    <div class="ml-2 grid grid-col-1 md:grid-cols-2 xl:grid-cols-3 gap-8 px-10">
      <div class="flex space-x-2 space-y-3">
        <div>
          <h1 class="text-[40px] font-bold text-[#F2F2F2]">O1</h1>
        </div>
        <div>
          <div class="flex items-center justify-items-center te space-x-2">
            <img
              src="{% static 'images/Django.png' %}"
              class="h-6 w-6 rounded-full"
            />
            <h5 class="text-xs">Bryn Bodayle in The Airbnb Tech Blog</h5>
          </div>
          <div>
            <p class="font-bold">Unlocking SwiftUI at Airbnb</p>
            <p class="text-sm text-[#6B6B6B]">Sep 21. 10 min read</p>
          </div>
        </div>
      </div>
      <div class="flex space-x-2 space-y-3">
        <div>
          <h1 class="text-[40px] font-bold text-[#F2F2F2]">O1</h1>
        </div>
        <div>
          <div class="flex items-center justify-items-center te space-x-2">
            <img
              src="{% static 'images/Django.png' %}"
              class="h-6 w-6 rounded-full"
            />
            <h5 class="text-xs">Bryn Bodayle in The Airbnb Tech Blog</h5>
          </div>
          <div>
            <p class="font-bold">Unlocking SwiftUI at Airbnb</p>
            <p class="text-sm text-[#6B6B6B]">Sep 21. 10 min read</p>
          </div>
        </div>
      </div>
      <div class="flex space-x-2 space-y-3">
        <div>
          <h1 class="text-[40px] font-bold text-[#F2F2F2]">O1</h1>
        </div>
        <div>
          <div class="flex items-center justify-items-center te space-x-2">
            <img
              src="{% static 'images/Django.png' %}"
              class="h-6 w-6 rounded-full"
            />
            <h5 class="text-xs">Bryn Bodayle in The Airbnb Tech Blog</h5>
          </div>
          <div>
            <p class="font-bold">Unlocking SwiftUI at Airbnb</p>
            <p class="text-sm text-[#6B6B6B]">Sep 21. 10 min read</p>
          </div>
        </div>
      </div>
      <div class="flex space-x-2 space-y-3">
        <div>
          <h1 class="text-[40px] font-bold text-[#F2F2F2]">O1</h1>
        </div>
        <div>
          <div class="flex items-center justify-items-center te space-x-2">
            <img
              src="{% static 'images/Django.png' %}"
              class="h-6 w-6 rounded-full"
            />
            <h5 class="text-xs">Bryn Bodayle in The Airbnb Tech Blog</h5>
          </div>
          <div>
            <p class="font-bold">Unlocking SwiftUI at Airbnb</p>
            <p class="text-sm text-[#6B6B6B]">Sep 21. 10 min read</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="border-b border-gray-400 mt-4"></div>

  <div class="grid grid-cols-1 md:grid-cols-8 gap-4 mt-28 px-10">
    <div class="col-span-5 space-y-4">
      <div class="flex mt-4">
        <div class="space-y-4 grow">
          <div class="flex items-center justify-items-center te space-x-2">
            <img
              src="{% static 'images/Django.png' %}"
              class="h-6 w-6 rounded-full"
            />
            <h5 class="text-xs">Bryn Bodayle in The Airbnb Tech Blog</h5>
          </div>
          <div>
            <p class="font-bold text-xl">
              In Renaissance, Beyoncé makes culture reckon with Blue Ivy
            </p>

            <div class="flex items-center space-x-20 xl:space-x-40">
              <div class="flex items-center space-x-4">
                <p class="text-sm text-[#6B6B6B]">Sep 21. 10 min read</p>
                <div
                  class="px-2 py-1 bg-[#F2F2F2] rounded-full hidden tab:inline-flex"
                >
                  <p class="text-sm">Self Improvement</p>
                </div>
                ✨
              </div>

              <div>
                <svg
                  width="25"
                  height="25"
                  viewBox="0 0 25 25"
                  fill="none"
                  class="mq"
                >
                  <path
                    d="M18 2.5a.5.5 0 0 1 1 0V5h2.5a.5.5 0 0 1 0 1H19v2.5a.5.5 0 1 1-1 0V6h-2.5a.5.5 0 0 1 0-1H18V2.5zM7 7a1 1 0 0 1 1-1h3.5a.5.5 0 0 0 0-1H8a2 2 0 0 0-2 2v14a.5.5 0 0 0 .8.4l5.7-4.4 5.7 4.4a.5.5 0 0 0 .8-.4v-8.5a.5.5 0 0 0-1 0v7.48l-5.2-4a.5.5 0 0 0-.6 0l-5.2 4V7z"
                    fill="#292929"
                  ></path>
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="grow-0">
          <div class="w-20 h-20 tab:h-40 tab:w-40">
            <img src="{% static 'images/Django.png' %}" class="w-full h-full" />
          </div>
        </div>
      </div>
      <div class="flex mt-4">
        <div class="space-y-4 grow">
          <div class="flex items-center justify-items-center te space-x-2">
            <img
              src="{% static 'images/Django.png' %}"
              class="h-6 w-6 rounded-full"
            />
            <h5 class="text-xs">Bryn Bodayle in The Airbnb Tech Blog</h5>
          </div>
          <div>
            <p class="font-bold text-xl">
              In Renaissance, Beyoncé makes culture reckon with Blue Ivy
            </p>

            <div class="flex items-center space-x-20 xl:space-x-40">
              <div class="flex items-center space-x-4">
                <p class="text-sm text-[#6B6B6B]">Sep 21. 10 min read</p>
                <div
                  class="px-2 py-1 bg-[#F2F2F2] rounded-full hidden tab:inline-flex"
                >
                  <p class="text-sm">Self Improvement</p>
                </div>
                ✨
              </div>

              <div>
                <svg
                  width="25"
                  height="25"
                  viewBox="0 0 25 25"
                  fill="none"
                  class="mq"
                >
                  <path
                    d="M18 2.5a.5.5 0 0 1 1 0V5h2.5a.5.5 0 0 1 0 1H19v2.5a.5.5 0 1 1-1 0V6h-2.5a.5.5 0 0 1 0-1H18V2.5zM7 7a1 1 0 0 1 1-1h3.5a.5.5 0 0 0 0-1H8a2 2 0 0 0-2 2v14a.5.5 0 0 0 .8.4l5.7-4.4 5.7 4.4a.5.5 0 0 0 .8-.4v-8.5a.5.5 0 0 0-1 0v7.48l-5.2-4a.5.5 0 0 0-.6 0l-5.2 4V7z"
                    fill="#292929"
                  ></path>
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="grow-0">
          <div class="w-20 h-20 tab:h-40 tab:w-40">
            <img src="{% static 'images/Django.png' %}" class="w-full h-full" />
          </div>
        </div>
      </div>
    </div>

    <div class="col-span-3">
      <h1 class="font-bold text-black">Discover more of what matters to you</h1>

      <div class="space-x-2 space-y-2">
        <div class="rounded-full bg-[#F2F2F2] px-2 py-2 inline-flex">
          <h3 class="text-[14px]">Programming</h3>
        </div>
        <div class="rounded-full bg-[#F2F2F2] px-2 py-2 inline-flex">
          <h3 class="text-[14px]">Self Improvement</h3>
        </div>
        <div class="rounded-full bg-[#F2F2F2] px-4 py-2 inline-flex">
          <h3 class="text-[14px]">Programming</h3>
        </div>
        <div class="rounded-full bg-[#F2F2F2] px-4 py-2 inline-flex">
          <h3 class="text-[14px]">Technology</h3>
        </div>
        <div class="rounded-full bg-[#F2F2F2] px-4 py-2 inline-flex">
          <h3 class="text-[14px]">Technology</h3>
        </div>
        <div class="rounded-full bg-[#F2F2F2] px-4 py-2 inline-flex">
          <h3 class="text-[14px]">Writing</h3>
        </div>
      </div>
    </div>
  </div>
</div>


{% include 'model_popups/signin_model.html' %}
{% include 'model_popups/signup_model.html' %}
{% include 'model_popups/signup_with_email.html' %}


{% endblock %}
