{% extends 'base.html' %} {% load static %} {% block content %}

<div class="bg-[#FFC017] px-6 md:px-10">
  <div class="flex items-center py-20">
    <div>
      <h1 class="text-[70px] md:text-[85px] lg:text-[106px] font-serif">
        Stay curious.
      </h1>
      <h2 class="text-[24px] font-[500px] max-w-md mt-2">
        Discover stories, thinking, and expertise from writers on any topic.
      </h2>
      <div
        class="rounded-full bg-[#191919] hover:bg-black px-12 py-2 inline-flex items-center justify-center mt-2"
      >
        <h3 class="text-md text-white text-[20px]">Start reading</h3>
      </div>
    </div>

    <div class="hidden md:inline-flex">{% include '_partials/svg.html' %}</div>
  </div>
</div>
{# --------------------------trending section ------------------------------ #}
<div class="mt-8 pb-4">
  <div>
    <div class="flex items-center justify-items-center px-10">
      <div>
        <svg
          width="28"
          height="29"
          viewBox="0 0 28 29"
          fill="none"
          class="ji ah"
        >
          <path fill="#fff" d="M0 .8h28v28H0z"></path>
          <g opacity="0.8" clip-path="url(#trending_svg__clip0)">
            <path fill="#fff" d="M4 4.8h20v20H4z"></path>
            <circle cx="14" cy="14.79" r="9.5" stroke="#000"></circle>
            <path
              d="M5.46 18.36l4.47-4.48M9.97 13.87l3.67 3.66M13.67 17.53l5.1-5.09M16.62 11.6h3M19.62 11.6v3"
              stroke="#000"
              stroke-linecap="round"
            ></path>
          </g>
          <defs>
            <clipPath id="trending_svg__clip0">
              <path
                fill="#fff"
                transform="translate(4 4.8)"
                d="M0 0h20v20H0z"
              ></path>
            </clipPath>
          </defs>
        </svg>
      </div>
      <h1 class="text-black font-bold">Trending on Medium</h1>
    </div>

    <div class="ml-2 grid grid-col-1 md:grid-cols-2 xl:grid-cols-3 gap-8 px-10">
      <div class="flex space-x-2 space-y-3">
        <div>
          <h1 class="text-[40px] font-bold text-[#F2F2F2]">O1</h1>
        </div>
        <div>
          <div class="flex items-center justify-items-center te space-x-2">
            <img
              src="{% static 'images/Django.png' %}"
              class="h-6 w-6 rounded-full"
            />
            <h5 class="text-xs">Bryn Bodayle in The Airbnb Tech Blog</h5>
          </div>
          <div>
            <p class="font-bold">Unlocking SwiftUI at Airbnb</p>
            <p class="text-sm text-[#6B6B6B]">Sep 21. 10 min read</p>
          </div>
        </div>
      </div>
      <div class="flex space-x-2 space-y-3">
        <div>
          <h1 class="text-[40px] font-bold text-[#F2F2F2]">O1</h1>
        </div>
        <div>
          <div class="flex items-center justify-items-center te space-x-2">
            <img
              src="{% static 'images/Django.png' %}"
              class="h-6 w-6 rounded-full"
            />
            <h5 class="text-xs">Bryn Bodayle in The Airbnb Tech Blog</h5>
          </div>
          <div>
            <p class="font-bold">Unlocking SwiftUI at Airbnb</p>
            <p class="text-sm text-[#6B6B6B]">Sep 21. 10 min read</p>
          </div>
        </div>
      </div>
      <div class="flex space-x-2 space-y-3">
        <div>
          <h1 class="text-[40px] font-bold text-[#F2F2F2]">O1</h1>
        </div>
        <div>
          <div class="flex items-center justify-items-center te space-x-2">
            <img
              src="{% static 'images/Django.png' %}"
              class="h-6 w-6 rounded-full"
            />
            <h5 class="text-xs">Bryn Bodayle in The Airbnb Tech Blog</h5>
          </div>
          <div>
            <p class="font-bold">Unlocking SwiftUI at Airbnb</p>
            <p class="text-sm text-[#6B6B6B]">Sep 21. 10 min read</p>
          </div>
        </div>
      </div>
      <div class="flex space-x-2 space-y-3">
        <div>
          <h1 class="text-[40px] font-bold text-[#F2F2F2]">O1</h1>
        </div>
        <div>
          <div class="flex items-center justify-items-center te space-x-2">
            <img
              src="{% static 'images/Django.png' %}"
              class="h-6 w-6 rounded-full"
            />
            <h5 class="text-xs">Bryn Bodayle in The Airbnb Tech Blog</h5>
          </div>
          <div>
            <p class="font-bold">Unlocking SwiftUI at Airbnb</p>
            <p class="text-sm text-[#6B6B6B]">Sep 21. 10 min read</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="border-b border-gray-400 mt-4"></div>

  <div class="grid grid-cols-1 md:grid-cols-8 gap-4 mt-28 px-10">
    <div class="col-span-5 space-y-4">
      <div class="flex mt-4">
        <div class="space-y-4 grow">
          <div class="flex items-center justify-items-center te space-x-2">
            <img
              src="{% static 'images/Django.png' %}"
              class="h-6 w-6 rounded-full"
            />
            <h5 class="text-xs">Bryn Bodayle in The Airbnb Tech Blog</h5>
          </div>
          <div>
            <p class="font-bold text-xl">
              In Renaissance, Beyoncé makes culture reckon with Blue Ivy
            </p>

            <div class="flex items-center space-x-20 xl:space-x-40">
              <div class="flex items-center space-x-4">
                <p class="text-sm text-[#6B6B6B]">Sep 21. 10 min read</p>
                <div
                  class="px-2 py-1 bg-[#F2F2F2] rounded-full hidden tab:inline-flex"
                >
                  <p class="text-sm">Self Improvement</p>
                </div>
                ✨
              </div>

              <div>
                <svg
                  width="25"
                  height="25"
                  viewBox="0 0 25 25"
                  fill="none"
                  class="mq"
                >
                  <path
                    d="M18 2.5a.5.5 0 0 1 1 0V5h2.5a.5.5 0 0 1 0 1H19v2.5a.5.5 0 1 1-1 0V6h-2.5a.5.5 0 0 1 0-1H18V2.5zM7 7a1 1 0 0 1 1-1h3.5a.5.5 0 0 0 0-1H8a2 2 0 0 0-2 2v14a.5.5 0 0 0 .8.4l5.7-4.4 5.7 4.4a.5.5 0 0 0 .8-.4v-8.5a.5.5 0 0 0-1 0v7.48l-5.2-4a.5.5 0 0 0-.6 0l-5.2 4V7z"
                    fill="#292929"
                  ></path>
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="grow-0">
          <div class="w-20 h-20 tab:h-40 tab:w-40">
            <img src="{% static 'images/Django.png' %}" class="w-full h-full" />
          </div>
        </div>
      </div>
      <div class="flex mt-4">
        <div class="space-y-4 grow">
          <div class="flex items-center justify-items-center te space-x-2">
            <img
              src="{% static 'images/Django.png' %}"
              class="h-6 w-6 rounded-full"
            />
            <h5 class="text-xs">Bryn Bodayle in The Airbnb Tech Blog</h5>
          </div>
          <div>
            <p class="font-bold text-xl">
              In Renaissance, Beyoncé makes culture reckon with Blue Ivy
            </p>

            <div class="flex items-center space-x-20 xl:space-x-40">
              <div class="flex items-center space-x-4">
                <p class="text-sm text-[#6B6B6B]">Sep 21. 10 min read</p>
                <div
                  class="px-2 py-1 bg-[#F2F2F2] rounded-full hidden tab:inline-flex"
                >
                  <p class="text-sm">Self Improvement</p>
                </div>
                ✨
              </div>

              <div>
                <svg
                  width="25"
                  height="25"
                  viewBox="0 0 25 25"
                  fill="none"
                  class="mq"
                >
                  <path
                    d="M18 2.5a.5.5 0 0 1 1 0V5h2.5a.5.5 0 0 1 0 1H19v2.5a.5.5 0 1 1-1 0V6h-2.5a.5.5 0 0 1 0-1H18V2.5zM7 7a1 1 0 0 1 1-1h3.5a.5.5 0 0 0 0-1H8a2 2 0 0 0-2 2v14a.5.5 0 0 0 .8.4l5.7-4.4 5.7 4.4a.5.5 0 0 0 .8-.4v-8.5a.5.5 0 0 0-1 0v7.48l-5.2-4a.5.5 0 0 0-.6 0l-5.2 4V7z"
                    fill="#292929"
                  ></path>
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="grow-0">
          <div class="w-20 h-20 tab:h-40 tab:w-40">
            <img src="{% static 'images/Django.png' %}" class="w-full h-full" />
          </div>
        </div>
      </div>
    </div>

    <div class="col-span-3">
      <h1 class="font-bold text-black">Discover more of what matters to you</h1>

      <div class="space-x-2 space-y-2">
        <div class="rounded-full bg-[#F2F2F2] px-2 py-2 inline-flex">
          <h3 class="text-[14px]">Programming</h3>
        </div>
        <div class="rounded-full bg-[#F2F2F2] px-2 py-2 inline-flex">
          <h3 class="text-[14px]">Self Improvement</h3>
        </div>
        <div class="rounded-full bg-[#F2F2F2] px-4 py-2 inline-flex">
          <h3 class="text-[14px]">Programming</h3>
        </div>
        <div class="rounded-full bg-[#F2F2F2] px-4 py-2 inline-flex">
          <h3 class="text-[14px]">Technology</h3>
        </div>
        <div class="rounded-full bg-[#F2F2F2] px-4 py-2 inline-flex">
          <h3 class="text-[14px]">Technology</h3>
        </div>
        <div class="rounded-full bg-[#F2F2F2] px-4 py-2 inline-flex">
          <h3 class="text-[14px]">Writing</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Main modal -->
<div
  id="defaultModal"
  tabindex="-1"
  aria-hidden="true"
  class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div
        class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600"
      >
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white"></h3>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="defaultModal"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-6 space-y-6 flex flex-col justify-center items-center">
        <h3
          class="text-3xl font-serif align-content-center text-gray-900 dark:text-white"
        >
          Join Medium
        </h3>
        <div class="space-y-4">
          <div
            class="flex items-center space-x-12 border border-black rounded-full py-2 px-4"
          >
            <div>
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                class="ah"
              >
                <g fill-rule="evenodd" clip-rule="evenodd">
                  <path
                    d="M20.64 12.2c0-.63-.06-1.25-.16-1.84H12v3.49h4.84a4.14 4.14 0 0 1-1.8 2.71v2.26h2.92a8.78 8.78 0 0 0 2.68-6.61z"
                    fill="#4285F4"
                  ></path>
                  <path
                    d="M12 21a8.6 8.6 0 0 0 5.96-2.18l-2.91-2.26a5.41 5.41 0 0 1-8.09-2.85h-3v2.33A9 9 0 0 0 12 21z"
                    fill="#34A853"
                  ></path>
                  <path
                    d="M6.96 13.71a5.41 5.41 0 0 1 0-3.42V7.96h-3a9 9 0 0 0 0 8.08l3-2.33z"
                    fill="#FBBC05"
                  ></path>
                  <path
                    d="M12 6.58c1.32 0 2.5.45 3.44 1.35l2.58-2.58A9 9 0 0 0 3.96 7.96l3 2.33A5.36 5.36 0 0 1 12 6.6z"
                    fill="#EA4335"
                  ></path>
                </g>
              </svg>
            </div>
            <h3 class="text-md font-sans ml-4">Sign up with Google</h3>
          </div>
          <div
            class="flex items-center space-x-12 border border-black rounded-full py-2 px-4"
          >
            <div>
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                class="ah"
              >
                <path
                  d="M22 12a10 10 0 1 0-11.56 9.88V14.9H7.9V12h2.54V9.8c0-2.5 1.5-3.9 3.77-3.9 1.1 0 2.24.2 2.24.2v2.46H15.2c-1.24 0-1.63.78-1.63 1.57V12h2.78l-.45 2.9h-2.33v6.98A10 10 0 0 0 22 12z"
                  fill="#1877F2"
                ></path>
                <path
                  d="M15.9 14.9l.44-2.9h-2.78v-1.87c0-.8.39-1.57 1.63-1.57h1.26V6.1s-1.14-.2-2.24-.2c-2.28 0-3.77 1.4-3.77 3.9V12H7.9v2.9h2.54v6.98a10.07 10.07 0 0 0 3.12 0V14.9h2.33z"
                  fill="#fff"
                ></path>
              </svg>
            </div>
            <h3 class="text-md font-sans ml-4">Sign up with Facebook</h3>
          </div>
          <div
            class="flex items-center space-x-12 border border-black rounded-full py-2 px-4"
          >
            <div>
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                class="ah"
              >
                <g stroke="#242424">
                  <rect x="3.5" y="5.5" width="17" height="13" rx="1"></rect>
                  <path d="M3.5 8l8.5 6 8.5-6" stroke-linecap="round"></path>
                </g>
              </svg>
            </div>
            <h3 class="text-md font-sans ml-4">Sign up with Email</h3>
          </div>
        </div>
        <div>
          <p>
            Already have an account?
            <button
              data-modal-target="defaultModal_Sign_in"
              data-modal-toggle="defaultModal_Sign_in"
              data-modal-hide="defaultModal" 
            >
              <span class="text-[#1A8917] font-bold cursor-pointer"
                >Sign in</span
              >
            </button>
          </p>
        </div>
      </div>
      <!-- Modal footer -->
      <div
        class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600"
      ></div>
    </div>
  </div>
</div>
<!-- Sign in Modal modal -->
<div
  id="defaultModal_Sign_in"
  tabindex="-1"
  aria-hidden="true"
  class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div
        class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600"
      >
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white"></h3>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="defaultModal_Sign_in"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-6 space-y-6 flex flex-col justify-center items-center">
        <h3
          class="text-3xl font-serif align-content-center text-gray-900 dark:text-white"
        >
        Welcome back
        </h3>
        <div class="space-y-4">
          <div
            class="flex items-center space-x-12 border border-black rounded-full py-2 px-4"
          >
            <div>
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                class="ah"
              >
                <g fill-rule="evenodd" clip-rule="evenodd">
                  <path
                    d="M20.64 12.2c0-.63-.06-1.25-.16-1.84H12v3.49h4.84a4.14 4.14 0 0 1-1.8 2.71v2.26h2.92a8.78 8.78 0 0 0 2.68-6.61z"
                    fill="#4285F4"
                  ></path>
                  <path
                    d="M12 21a8.6 8.6 0 0 0 5.96-2.18l-2.91-2.26a5.41 5.41 0 0 1-8.09-2.85h-3v2.33A9 9 0 0 0 12 21z"
                    fill="#34A853"
                  ></path>
                  <path
                    d="M6.96 13.71a5.41 5.41 0 0 1 0-3.42V7.96h-3a9 9 0 0 0 0 8.08l3-2.33z"
                    fill="#FBBC05"
                  ></path>
                  <path
                    d="M12 6.58c1.32 0 2.5.45 3.44 1.35l2.58-2.58A9 9 0 0 0 3.96 7.96l3 2.33A5.36 5.36 0 0 1 12 6.6z"
                    fill="#EA4335"
                  ></path>
                </g>
              </svg>
            </div>
            <h3 class="text-md font-sans ml-4">Sign in with Google</h3>
          </div>
          <div
            class="flex items-center space-x-12 border border-black rounded-full py-2 px-4"
          >
            <div>
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                class="ah"
              >
                <path
                  d="M22 12a10 10 0 1 0-11.56 9.88V14.9H7.9V12h2.54V9.8c0-2.5 1.5-3.9 3.77-3.9 1.1 0 2.24.2 2.24.2v2.46H15.2c-1.24 0-1.63.78-1.63 1.57V12h2.78l-.45 2.9h-2.33v6.98A10 10 0 0 0 22 12z"
                  fill="#1877F2"
                ></path>
                <path
                  d="M15.9 14.9l.44-2.9h-2.78v-1.87c0-.8.39-1.57 1.63-1.57h1.26V6.1s-1.14-.2-2.24-.2c-2.28 0-3.77 1.4-3.77 3.9V12H7.9v2.9h2.54v6.98a10.07 10.07 0 0 0 3.12 0V14.9h2.33z"
                  fill="#fff"
                ></path>
              </svg>
            </div>
            <h3 class="text-md font-sans ml-4">Sign in with Facebook</h3>
          </div>
          <div
            class="flex items-center space-x-12 border border-black rounded-full py-2 px-4"
          >
            <div>
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                class="ah"
              >
                <g stroke="#242424">
                  <rect x="3.5" y="5.5" width="17" height="13" rx="1"></rect>
                  <path d="M3.5 8l8.5 6 8.5-6" stroke-linecap="round"></path>
                </g>
              </svg>
            </div>
            <h3 class="text-md font-sans ml-4">Sign in with Email</h3>
          </div>
        </div>
        <div>
          <p>
            No account?
            <button
              data-modal-target="defaultModal"
              data-modal-toggle="defaultModal"
              data-modal-hide="defaultModal_Sign_in" 
            >
              <span class="text-[#1A8917] font-bold cursor-pointer">
                Create one</span
              >
            </button>
          </p>
        </div>
      </div>
      <!-- Modal footer -->
      <div
        class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600"
      ></div>
    </div>
  </div>
</div>
{% endblock %}
